body {
    overflow: hidden;
}

.p5Canvas {
    position: absolute;
    top: 0px;
}

.info {
    position: absolute;
    bottom: -16px;
    width: 100%;
}

#f1 {
    left: 170px;
    top: 75px;
}

#f2 {
    left: 282px;
    top: 75px;
}