body {
    overflow: hidden;
}

.point {
    z-index: 99;
    position: absolute;
    display: none;
}

#focal {
    left: 155px;
    top: 30px;
    display: none;
}

.p5Canvas {
    position: absolute;
    top: 0px;
}

.info {
    position: absolute;
    bottom: -16px;
    width: 100%;
}