.figure-caption {
    font-size: 14px !important;
}

.prehistoire {
    text-align: left;
}

.lascaux-intro>span {
    position: relative;
}

.lascaux-intro>p>img {
    position: relative;
    left: 100px;
}

.lascaux-cycles-soleil,
.lascaux-cycles-saisons {
    text-align: left;
}

.lascaux-cycles-lune {
    text-align: right;
}

.lascaux-cycles-soleil>img {
    width: 200px;
}

.lascaux-cycles-soleil>span {   
    position: relative;
    /*top: -100px;*/
    left: 10px;
}

.lascaux-cycles-lune>span  {
    position: relative;
    top: -150px;
    right: 10px;
}

.lascaux-cycles-lune>img {
    width: 200px;
    position: relative;
    top: -150px;
}

.lascaux-cycles-saisons>span {
    position: relative;
    top: -350px;
    left: 10px;
}

.lascaux-cycles-saisons>video {
    position: relative;
    top: -250px;
    width: 250px;
}

.lascaux-cycles-stellarium {
    text-align: left;
}

.lascaux-cycles-stellarium>span {
    position: relative;
    top: 0px;
    text-align: left;
}

.lascaux-cycles-stellarium>span>a {
    color: lightseagreen;
}

.lascaux-peintures {
    position: relative !important;
    top: 25px !important;
}

.lascaux-peintures>h2 {
    text-align: center;
}

.lascaux-peintures>div {
    position: relative;
    top: 25px;
}

.lascaux-peintures-taureau>img {
    width: 500px;
}

.lascaux-peintures-taureau>span {
    position: relative;
    left: 520px;
    display: block;
    top: -405px;
    max-width: 800px;
}

.lascaux-peintures-taureau>span>a {
    color: lightseagreen;
}

.lascaux-peintures-taureau>.fig-caption {
    font-size: 20px;
    font-style: italic;
    position: relative !important;
    left: 0px !important;
    top: -370px !important;
}

.lascaux-peintures-end>span {
    position: relative;
    display: block;
    top: -375px;
}

.lascaux-peintures-end>span>a {
    color: lightseagreen;
}

.lascaux-stonehenge {
    position: relative;
    top: 50px;
}

.lascaux-stonehenge>img {
    width: 500px;
}

.lascaux-stonehenge>span {
    position: relative;
    left: 520px;
    display: block;
    top: -380px;
    max-width: 900px;
}

.lascaux-stonehenge>.fig-caption {
    font-size: 20px;
    font-style: italic;
    position: relative !important;
    left: 0px !important;
    top: -370px !important;
}
