.figure-caption {
    font-size: 14px !important;
}

.lunette, .lunette-2, .lunette-3 {
    text-align: left;
}

.lunette > section > .card {
    position: relative;
    top: -150px;
}

.lunette-2 > section > .card {
    position: relative;
    top: -150px;
}

.lunette-3 > section > .card {
    position: relative;
    top: -150px;
}

.lunette-fragment {
    position: absolute;
}

.lunette-galilee {
    position: absolute;
    top: 150px;
    left: 100px;
}

.lunette-galilee>img {
    width: 500px;
    height: 300px;
}

.lunette-astro {
    position: absolute;
    top: 150px;
    left: 650px;
}

.lunette-astro>img {
    width: 500px;
    height: 300px;
}

.astro {
    top: 100px !important;
}

.astro>span>p {
    font-size: 28px;
    position: absolute;
    width: 50%;
    top: 220px;
}

.img-astro {
    position: absolute;
    left: 110%;
    top:-10px;
    max-width: unset !important;
    max-height: unset !important;
}

.trajet-astro {
    top: 75px !important;
    left: 100px;
}

#astro-iframe {
    height: 300px;
    width: 500px;
    position: relative;
    left: 0px;
    /*top: 25px;*/
    border-radius: 8px;
    overflow: hidden;
    transform: scale(1);
}

#galilee-iframe {
    height: 300px;
    width: 500px;
    position: relative;
    left: 0px;
    top: 25px;
    border-radius: 8px;
    overflow: hidden;
    transform: scale(1);
}

.lunette-intro>span>p>span {
    font-size: 30px;
    position: relative;
    top: 15px;
}

.obs-oeil>p>span {
    font-size: 22px;
    position: absolute;
}

.obs-galilee {
    position: absolute;
    top: 150px;
    left: 100px;
}

.obs-galilee>p>span {
    font-size: 22px;
    position: absolute;
    top: 60px;
}

.obs-lune {
    position: absolute;
    top: 150px;
    left: 100px;
}

.obs-lune>img {
    width: 500px;
    height: 228px;
}

.obs-jupiter {
    position: absolute;
    top: 150px;
    left: 650px;
}

.obs-jupiter>img {
    width: 500px;
    height: 228px;
}

.obs-kepler {
    position: relative !important;
    top: 100px !important;
}

.obs-kepler>p>a>svg {
    position: absolute;
    right: -50px;
    top: 12px;
}