.figure-caption {
    font-size: 14px !important;
}

.lunette {
    text-align: left;
}

.lunette > section > .card {
    position: relative;
    top: -150px;
}

.lunette-fragment {
    position: absolute;
}

/*.lunette-fragment>img {
    position: absolute;
    top: 100px;
    left: 700px;
    transform: scale(2);
}*/

.lunette-astro {
    position: absolute;
    top: 100px;
    left: 100px;
}

.lunette-astro>img {
    width: 500px;
    height: 300px;
}

.lunette-galilee {
    position: absolute;
    top: 150px;
    left: 650px;
}

.lunette-galilee>img {
    width: 500px;
    height: 300px;
}

.astro {
    top: 100px !important;
}

.astro>span>p {
    font-size: 28px;
    position: absolute;
    width: 50%;
}

.img-astro {
    position: absolute;
    left: 110%;
    top:-10px;
    max-width: unset !important;
    max-height: unset !important;
}

.trajet-astro {
    top: 75px !important;
    left: 100px;
}

#astro-iframe {
    height: 300px;
    width: 500px;
    position: relative;
    left: 0px;
    /*top: 25px;*/
    border-radius: 8px;
    overflow: hidden;
    transform: scale(1);
}

#galilee-iframe {
    height: 300px;
    width: 500px;
    position: relative;
    left: 0px;
    top: 25px;
    border-radius: 8px;
    overflow: hidden;
    transform: scale(1);
}