.figure-caption {
    font-size: 14px !important;
}

.telescope-intro {
    text-align: left;
    font-size: 30px;
    top: 80px !important;
}

.telescope-figure {
    font-style: italic;
    font-size: 16px;
    position: absolute;
    bottom: 0px;
}

.telescope-saturne {
    position: absolute;
    top: 200px;
    left: 200px;
}

.telescope-saturne>img {
    width: 250px;
}

.telescope-saturne-zoom {
    position: absolute;
    top: 200px;
    left: 650px;
}

.telescope-saturne-zoom>img {
    width: 250px;
}
